$accent: #5328c2;
$title-border: transparentize($accent,0.9);
$title-background: transparentize($accent,0.9);

body {
    background-color: var(--background);
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;

    .title{
        margin: 25px 0;
        padding: 10px 25px;
        border-radius: 5px;
        border: 1px solid $title-border;
        background-color: $title-background;

        h1{
            font-family: Raleway, sans-serif;
            font-size: 26px;
            font-weight: 700;
        }

        .timer{
            padding: 2px 6px;
            border-radius: 5px;
            background-color: $title-border;
            font-size: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .game {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .board {
            display: grid;
            width: 70%;
            aspect-ratio: 1;
            box-sizing: border-box;
            gap: 12px;

            .cell-group {
                display: grid;
                width: 100%;
                aspect-ratio: 1;
                box-sizing: border-box;
                gap: 5px;
                padding: 4px;
                background-color: transparentize($accent,0.95);

                .cell {
                    color: white;
                    width: 100%;
                    aspect-ratio: 1;
                    box-sizing: border-box;
                    border-radius: 3px;
                    background-color: transparentize(white,0.95);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }

        .loader {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: 700;
                font-size: 1;
            }
        }
    }
}

.loader-spinner {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}
.loader-spinner:before,
.loader-spinner:after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}
.loader-spinner:before {
    animation: box1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
}
.loader-spinner:after {
    animation: box2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes box1 {
    0% {
        box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
        box-shadow: 0 0 0 #ff3d00;
        margin-bottom: 0;
        transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #ff3d00;
        margin-bottom: 10px;
    }
}

@keyframes box2 {
    0% {
        box-shadow: 30px 0 0 #fff;
    }
    50% {
        box-shadow: 0 0 0 #fff;
        margin-top: -20px;
        transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #fff;
        margin-top: 0;
    }
}
