$accent2: #28c29e;


body {
    background-color: var(--background);
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;

    .title {
        margin: 25px 0;
        padding: 10px 25px;
        border-radius: 5px;
        border: 1px solid var(--title-border);
        background-color: var(--title-background);

        h1 {
            font-family: Raleway, sans-serif;
            font-size: 26px;
            font-weight: 700;
        }

        .timer {
            padding: 2px 6px;
            border-radius: 5px;
            background-color: var(--title-border);
            font-size: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .game {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .header {
            display: flex;
            flex-flow: row;
            align-items: center;
            position: relative;
            width: calc(100% - 10px);
            padding: 4px 6px;
            margin-top: 26px;
            margin-bottom: 10px;
            gap: 6px;
            z-index: 2;

            .status-display {
                border-radius: 4px;
                padding: 4px 8px;
                font-size: 12px;
                font-family: "Poppins", sans-serif;
                color: white;
                background-color: var(--accent);
                text-align: center;
                cursor: default;

                img {
                    width: 16px;
                    height: 16px;
                }

                &.timer {
                    min-width: 40px;
                }

                &.errors {
                    background-color: #e51045;
                }

                &.size {
                    margin-left: auto;
                }
            }
        }

        .board {
            display: grid;
            width: min(70vw,calc(95vh - 90px));
            aspect-ratio: 1;
            box-sizing: border-box;
            gap: 12px;
            z-index: 2;
            position: relative;

            .cell-group {
                display: grid;
                width: 100%;
                aspect-ratio: 1;
                box-sizing: border-box;
                gap: 5px;
                padding: 4px;
                background-color: var(--t-cell-group);

                .cell {
                    width: 100%;
                    aspect-ratio: 1;
                    box-sizing: border-box;
                    border-radius: 3px;
                    background-color: var(--cell-locked-bg);
                    //transition: background-color 0.05s ease-in-out;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    font-size: 14px;
                    user-select: none;
                    cursor: default;
                    border: 2px solid transparent;

                    &.wrong-value {
                        border-color: transparentize(#e51045, 0.7);
                    }
                    &.correct-value {
                        border-color: transparentize(#10e565, 0.7);
                    }

                    &.changed {
                        animation: cell-changed 0.3s ease-in-out forwards;
                    }

                    &.highlight {
                        background-color: var(--bg-highlight);

                        &.hover{
                            border-color: transparentize($accent2, 0.7);

                            &.changed {
                                animation: cell-changed-highlight 0.3s ease-in-out forwards;

                            }
                        }
                    }

                    &.editable {
                        background-color: var(--cell-editable-bg);
                        cursor: pointer;

                        &.highlight {
                            background-color: var(--t-70);
                        }

                        &.hover{
                            background-color: transparentize($accent2, 0.3);
                            border-color: transparent;
                        }
                    }
                }
            }
        }

        .button {
            position: absolute;
            right: 4px;
            bottom: 4px;

            border-radius: 4px;
            padding: 4px 8px;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
            background-color: var(--t-75);
            text-align: center;
            user-select: none;
            cursor: pointer;
            transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, transform 0.15s ease-in-out;
            color: transparentize(white,0.4);
            transform: scale(1);

            &:hover{
                background-color: var(--accent);
                color: white;
            }

            &.btn-close {
                background-color: #1bbb7a;
                color: white;

                &:hover{
                    background-color: darken(#1bbb7a,10);
                }
            }

            &:active{
                transform: scale(0.95);
            }
        }

        .message-popup {
            position: fixed;
            left: 0;
            right: 0;
            bottom: -10%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .info {
                border-radius: 4px;
                padding: 4px 8px;
                font-size: 12px;
                font-family: "Poppins", sans-serif;
                color: white;
                background-color: var(--accent);
                text-align: center;
                cursor: default;
            }

            &.success {
                .info {
                    background-color: transparentize(#10e565, 0.7);
                }
            }

            &.fail {
                .info {
                    background-color: transparentize(#e51045, 0.7);
                }
            }

            animation: message-popup 5s ease-in-out forwards;
        }
    }
}

@keyframes message-popup {
    0% {
        bottom: -60px;
        transform: scale(0);
    }
    15% {
        bottom: 5px;
        transform: scale(1);
    }

    85% {
        bottom: 5px;
        transform: scale(1);
    }
    100% {
        bottom: -60px;
        transform: scale(0);
    }
}

@keyframes cell-changed {
    0%{
        background-color: transparentize(white, 0.94);
    }
    15% {
        background-color: var(--cell-changed-anim);
    }
    100%{
        background-color: transparentize(white, 0.94);
    }
}

@keyframes cell-changed-highlight {
    0%{
        background-color: transparentize($accent2, 0.3);
    }
    15% {
        background-color: white;
    }
    100%{
        background-color: transparentize($accent2, 0.3);
    }
}

.cell-popup {
    position: fixed;
    z-index: 100;
    border-radius: 50%;

    .value {
        position: absolute;
        top: 0;
        bottom: 50%;
        left: 50%;
        transform-origin: bottom;
        transform: translate(-50%, 0) rotate(0);
        animation: popup-appear 0.4s ease-in-out forwards;
        opacity: 0;
    }

    &.hide{
        .value {
            animation: popup-disappear 0.4s ease-in-out forwards;
        }
    }

    &:focus {
        outline: none;
        border: none;
    }

    .center {
        position: absolute;
        border-radius: 50%;

    }
}

@keyframes popup-appear {
    0%{
        opacity: 0;
        transform: translate(-50%, 10%) rotate(0);
    }
    25% {
        opacity: 1;
        transform: translate(-50%, 0) rotate(0);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, 0) rotate(var(--rotation));
    }
}
@keyframes popup-disappear {
    100%{
        opacity: 0;
        transform: translate(-50%, 10%) rotate(0);
    }
    75% {
        opacity: 1;
        transform: translate(-50%, 0) rotate(0);
    }
    0%{
        opacity: 1;
        transform: translate(-50%, 0) rotate(var(--rotation));
    }
}

.loader-spinner {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader-spinner:before,
.loader-spinner:after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}

.loader-spinner:before {
    animation: box1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
}

.loader-spinner:after {
    animation: box2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.8)
    }
    50% {
        transform: rotate(360deg) scale(1.2)
    }
    100% {
        transform: rotate(720deg) scale(0.8)
    }
}

@keyframes box1 {
    0% {
        box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
        box-shadow: 0 0 0 #ff3d00;
        margin-bottom: 0;
        transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #ff3d00;
        margin-bottom: 10px;
    }
}

@keyframes box2 {
    0% {
        box-shadow: 30px 0 0 #fff;
    }
    50% {
        box-shadow: 0 0 0 #fff;
        margin-top: -20px;
        transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #fff;
        margin-top: 0;
    }
}
