$accent-d: #5328c2;
$accent-l: #426edf;
html.dark {
    * {
        --background: #17191d;
        --foreground: #ffffff;
        --accent: #5328c2;
        --btn-background: #1f2228;
        --btn-background-hover: lighten(#1f2228, 6);
        --title-color: #cccccc;
        --toolbar-bg: #0f111c;


        --title-border: #{transparentize($accent-d,0.9)};
        --title-background: #{transparentize($accent-d,0.9)};
        --bg-highlight: #{transparentize(darken($accent-d,15), 0.7)};
        --t-cell-group: #{transparentize($accent-d, 0.95)};
        --t-70: #{transparentize($accent-d, 0.7)};
        --t-75: #{transparentize($accent-d, 0.75)};
        --cell-changed-anim: transparentize(lighten($accent-d,15), 0.2);

        color: var(--foreground);

        .close, .minimize {
            img {
                filter: invert(1);
            }
        }

    }
}

html.light{
    *{
        --background: #ffffff;
        --foreground: #000000;
        --title-color: #696969;
        --accent: #426edf;
        --btn-background: #ececec;
        --btn-background-hover: darken(#a2a2a2,6);
        --toolbar-bg: #e3e3e3;

        --cell-locked-bg: rgba(230,230,230,0.9);
        --cell-editable-bg: rgba(240,240,240,0.9);

        --title-border: #{transparentize($accent-l,0.9)};
        --title-background: #{transparentize($accent-l,0.9)};
        --bg-highlight: #{transparentize(darken($accent-l,20), 0.7)};
        --t-cell-group: #{transparentize($accent-l, 0.95)};
        --t-70: #{transparentize($accent-l, 0.7)};
        --t-75: #{transparentize($accent-l, 0.75)};
        --cell-changed-anim: transparentize(lighten($accent-l,15), 0.2);

        color: var(--foreground);

    }
    .game, .cell{
        color: #7a7a7a;
    }

    .nav{
        background:  rgba(0,0,0,0.2);
    }

    img:not(.logo, .icon,.socialcredit1000){
        filter: invert(1);
    }
}

