<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<div id="wrapper">
    <div class="block">
        <div class="content settings">
            <div class="title">
                <img src="../images/game-icon.svg">
                Select * from difficulty
            </div>
            <div class="option" id="easy"><div class="dot green"></div>Easy</div>
            <div class="option selected" id="medium"><div class="dot orange"></div>Medium</div>
            <div class="option" id="hard"><div class="dot red"></div>Hard</div>
        </div>
        <div class="nav">
            <div class="back" id="right">Back</div>
        </div>
    </div>
    <div class="block">
        <div class="header"><img src="../images/logo.png" alt="logo">
            <h2>Szudoku</h2></div>

        <div class="main-container">
            <div class="highlight play"><img src="../images/play-icon.svg">Play</div>
            <div class="options"><img src="../images/settings-icon.svg">Options</div>
            <div class="credits"><img src="../images/credits-icon.svg">Credits</div>
        </div>
    </div>
    <div class="block">
        <div class="content credits">
            <img src="../images/thumbsup.png" class="socialcredit1000">
            <div class="authors">
                <h3>Credits</h3>
                <ul>
                    <li>Matez_</li>
                    <li>Fexxy</li>
                </ul>
            </div>
        </div>
        <div class="nav">
            <div class="back" id="left">Back</div>
        </div>
    </div>
</div>

</body>
<script src="../dist/bundle.js" page="index">

</script>
</html>