<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<div id="wrapper">
    <div class="block block-menu">
        <div class="content settings">
            <div class="title">
                <img src="../images/difficulty.svg">
                Difficulty
            </div>
            <div class="option diff selected" value="0"><div class="dot blue"></div>Default</div>
            <div class="option diff" value="1"><div class="dot green"></div>Easy</div>
            <div class="option diff" value="2"><div class="dot orange"></div>Medium</div>
            <div class="option diff" value="3"><div class="dot red"></div>Hard</div>
            <div class="title">
                <img src="../images/size.svg">
                Size
            </div>
            <div class="option size" value="2"><div class="dot green"></div>2x2</div>
            <div class="option size selected" value="3"><div class="dot orange"></div>3x3</div>
            <div class="option size" value="4"><div class="dot red"></div>4x4</div>
            <div class="title">
                <img src="../images/theme.svg">
                Theme
            </div>
            <div class="option theme" value="light"><div class="dot" style="background: #ffffff;"></div>Light</div>
            <div class="option theme selected" value="dark" style="margin-bottom: 8vh;"><div class="dot" style="background: #000000;"></div>Dark</div>

        </div>
        <div class="nav shadow">
            <div class="back" id="right">Back</div>
        </div>
    </div>
    <div class="block">
        <div class="header"><img src="../images/logo.png" alt="logo">
            <h2>Szudoku</h2></div>

        <div class="main-container">
            <div class="highlight play"><img src="../images/play-icon.svg">Play</div>
            <div class="options"><img src="../images/settings-icon.svg">Options</div>
            <div class="credits"><img src="../images/credits-icon.svg">Credits</div>
        </div>
    </div>
    <div class="block">
        <div class="content credits">
            <img src="../images/thumbsup.png" class="socialcredit1000">
            <div class="authors">
                <h3>Credits</h3>
                <ul>
                    <li>matez</li>
                    <li>cielakinator</li>
                </ul>
            </div>
        </div>
        <div class="nav">
            <div class="back" id="left">Back</div>
        </div>
    </div>
</div>

</body>
<script src="../dist/bundle.js" page="index">

</script>
</html>